body {
    background-color: #A4EBF3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

/* Nav Section */

header {
    display: grid;
    grid-template-columns: 24% 50% 24%;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #CCF2F4;
}

header .banner .logo {
    float: left;
    height: 50px;
}

header .topnav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Slackey";
}

header .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
header .topnav a:hover {
    color: white;
}

header .search {
  margin-left: auto;

  
}


/* Promo Section */

#promo {
    display: grid;
    place-items: center;
    margin: 10px;
    
}

#promo .promo-wrapper .promo-image {
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

/* Content Section */

#content {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;
    
}

#content .content-section {
    background-color: #CCF2F4;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#content .content-wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 15px 15px 25px 15px;
    margin: 15px;
    border-bottom-style: solid;
    border-width: thin;
    border-color: gray;
}

#content .content-wrapper .content-thumbnail {
   height: 250px;
   width: 90%;
}

#content .content-wrapper .summary{
    width: 100%;
}

#content .sidebar-section {
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #CCF2F4;
}

#content .sidebar-section .sidebar-title {
    margin: 20px;
    padding: 10px;
}
#content .sidebar-section .sidebar-item {
    margin: 20px;
    padding: 10px;
}

/* footer */

footer .footer {
    display: flex;
    justify-content: center;
}

/* article template */

#article-template {
    display: grid;
    grid-template-columns: 75% 25%;
    
    
}

#article-template .article-section {
    background-color: #CCF2F4;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#article-template .article-section .article .article-image {
    max-width: 100%;
    height: 350px;
}
#article-template .sidebar-section {
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #CCF2F4;
}

#article-template .sidebar-section .sidebar-title {
    margin: 20px;
    padding: 10px;
}
#article-template .sidebar-section .sidebar-item {
    margin: 20px;
    padding: 10px;
}